.Leaderboard {
    background-color: black;
    width: 100vw;
    position: absolute;
    top: 100vh;
    color: #9C7711;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.timer {
    margin: 36px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.timer-title {
    font-family: 'Encode Sans Semi Expanded';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.timer-time {
    display: flex;
    flex-direction: row;
}

.timer-number {
    font-family: 'Nico Moji';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

.timer-text {
    font-family: 'Encode Sans Semi Expanded';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-align: center;
}

.timer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Leaderboard-title {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Leaderboard-title-title {
    font-family: 'Nico Moji';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 46px;
    margin-bottom: 24px;
}

.Leaderboard-title-button {
    font-family: 'Encode Sans Semi Expanded';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 240px;
    height: 34px;
    background: #9C7711;
    border-radius: 22px;
    color: #000000;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.Leaderboard-title-description {
    font-family: 'Encode Sans Semi Expanded';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
}

.leaderboard-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 36px;
}

.leaderboard-links-title{
    font-family: 'Encode Sans Semi Expanded';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    max-width: 226px;
}

.leaderboard-links-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 28px;
}

.Spotify-link {
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-size: 23px !important;
    background: url('../../images/Spotify\ Logo.png');
    margin: 0px 3px;
    background-color: black;
    border-radius: 50%;
}

.Amazon-link {
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-size: 28px !important;
    background: url('../../images/Amazon\ Logo.png');
    margin: 0px 6px 0px 3px;
}

.Youtube-link {
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-size: 23px !important;
    background: url('../../images/Youtube\ Logo.png');
    margin: 0px 3px;
}

.Deezer-link {
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-size: 23px !important;
    background: url('../../images/Deezer.png');
    margin: 0px 3px;
}

.Apple-link {
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-size: 24px !important;
    background: url('../../images/Apple\ Logo.png');
    margin: 0px 3px;
}

.Table {
    max-width: 1000px;
    width: 100%;
    margin-top: 56px;
    font-size: 18px;
}

.Table-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 24px;
    text-align: center;
}

.Table-header-title{
    width: 25%;
}

.Table-row {
    width: 100%;
    height: 72px;
    background: #101010;
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #fff;
}


.Table-row:nth-child(2){
    background: #9C7711;
    color: #000;
}

.Table-row:nth-child(3){
    background: #9C7711;
    color: #000;
}

.Table-row:nth-child(4){
    background: #9C7711;
    color: #000;
}

.Table-row:nth-child(5){
    background: #696969;
    color: #000;
}

.Table-row:nth-child(6){
    background: #696969;
    color: #000;
}

.Table-row:nth-child(7){
    background: #696969;
    color: #000;
}

.Table-row:nth-child(8){
    background: #696969;
    color: #000;
}

.Table-row:nth-child(9){
    background: #696969;
    color: #000;
}


.Table-row:nth-child(10){
    background: #696969;
    color: #000;
}

.Table-row:nth-child(11){
    background: #696969;
    color: #000;
}

.Table-item {
    font-family: 'Encode Sans Semi Expanded';
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25%;
    
}

@media only screen and (max-width: 1000px) {
    .Header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .timer {
        justify-content: center;
        align-items: center;
    }

    .Leaderboard-title {
        margin-top: 0px;
    }

    .leaderboard-links {
        justify-content: center;
        align-items: center;
        margin: 36px;
    }

    .leaderboard-links-title{
        text-align: center;
    }
}

@media only screen and (max-width: 5800px) {
    .Table {
        font-size: 12px;
    }
}